<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit">Search</button>
</form>
<div class="gallery">
  <!-- Картки зображень -->
</div>
<!-- <div class="page-load-status">
  <div class="loader-ellips infinite-scroll-request">
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
  </div>
  <p class="infinite-scroll-last">End of content</p>
  <p class="infinite-scroll-error">No more pages to load</p>
</div>
<p class="pagination">
  <a class="pagination__next" href="">Next page</a>
</p> -->
<!-- <div class="observer"></div> -->
<button type="button" class="load-more" hidden>Load more</button>
